.cart-wrapper {
    display: flex;
    align-content: center;
    flex-direction: column;
    height: 70vh;
    // border: solid orange;
    padding-top: 4rem;
    padding-left: 7rem;
    padding-right: 7rem;

    .cart-labels {
        display: inline-flex;
        justify-content: space-between;
        padding-left: 45rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
        // border: solid green;
        
        li {
            color: hsla(0, 0%, 99%, 70%);
            font-size: 18px;
            font-weight: 200;
        }
    }
}


.cart-header {
    // border: solid pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .cart-header-name {
        font-size: 29px;
        font-weight: 100;
        // border: solid yellow;
        color: hsla(0, 0%, 99%, 70%);
        transform: scale(0.88, 1);
        letter-spacing: 0.9px;
        height: 3.3rem;
    }
    
    .border {
        border-bottom: 1px solid hsla(0, 0%, 99%, 10%);
        width: 3.3rem;
    }
}

.cart-items-wrapper {
    // border: solid teal;
    padding-top: 1rem;
    margin-bottom: 1rem;

    .cart-item-container {
        // border: solid peachpuff;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(3, 30%);

        img {
            width: 200px;
            height: 200px;
        }
    }
}

.cart-total, .check-out-bttn {
    align-self: flex-end;
}