.cart {
    display: flex;
    // border: solid pink;
    justify-content: center;
    height: 70vh;
}

.cart-header {
    font-size: 29px;
    font-weight: 100;
    // border: solid yellow;
    padding-top: 60px;
    color: hsla(0, 0%, 99%, 70%);
    transform: scale(0.88, 1);
    letter-spacing: 0.9px;
    height: 3.3rem;
    border-bottom: 1px solid hsla(0, 0%, 99%, 20%);
}