// .cart-wrapper {
//   //   outline: 1px solid pink;
// }

// .cart-items-wrapper {
//   //   outline: 1px solid yellow;
// //   height: 100vh;
// }

.cart-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 20%);
  padding: 33px 0;

  .ci-photo {
    width: 21%;
    align-self: flex-start;
  }

  .ci-colour {
    text-transform: capitalize;
  }

  .ci-price {
    align-self: flex-end;
    text-align: right;
  }
}

.cart-footer {
  background: hsl(0, 0%, 11%);
  z-index: 1;
  position: sticky;
  left: 0;
  bottom: 0;
  right: 0;
  height: 160px;
  width: 100%;
  padding-top: 33px;
  border-top: 1px solid hsl(0, 0%, 20%);
}
