.products-container {
    .product-container, .product-price, a {
        background: white;
        color: black;
    }
}

.product-photo {
    width: 325px;
    height: auto;
}

.products-list {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        grid-auto-flow: row;
    }