.products-container {
    .product-container, .product-price, a {
        background: white;
        color: black;
    }
}

.product-photo {
    // width: 32vw;
    // height: auto;
    width: 325px;
    height: auto;
}