.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;

}

.modal-wrapper.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-container {
  width: 340px;
  height: 95.5%;
  padding: 30px;
  background: hsl(0, 0%, 11%);
  transform: translateX(100px);
  transition: all 0.2s ease-in-out;

   :active {
    color: hsla(0, 0%, 99%, 0.8);
  }
}

.modal-wrapper.show .modal-container {
  transform: translateY(0);
}

.modal-header {
  padding-bottom: 27px;
  font-size: 23px;
  word-spacing: 10px;
  border-bottom: 1px solid hsl(0, 0%, 20%);
}

.modal-title {
  color: hsla(0, 0%, 99%, 0.8);
  margin: 0;
}

.modal-body {
  color: hsla(0, 0%, 99%, 0.8);
  // padding: 18px 0;
  font-size: 17px;
  letter-spacing: 1.95px;
  word-spacing: 3px;
}

.modal-close {
  color: hsla(0, 0%, 80%, 0.9);
  position: absolute;
  top: 27px;
  right: 47.51px;

  :hover {
    cursor: pointer;
    color: hsla(0, 0%, 99%, 0.85);
  }
}
