.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;

  outline: 1px solid pink;
}

.modal-wrapper.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-container {
  width: 355px;
  height: 96%;
  padding: 30px;
  background: hsl(0, 0%, 11%);
  transform: translateX(100px);
  transition: all 0.2s ease-in-out;

  outline: 1px solid yellow;
}

.modal-wrapper.show .modal-container {
  transform: translateY(0);
}

.modal-header {
  background: hsl(0, 0%, 11%);
  padding-bottom: 20px;
  font-size: 22px;
}

.modal-title {
  background: hsl(0, 0%, 11%);
  color: hsla(0, 0%, 99%, 0.8);
  margin: 0;
}

.modal-body {
  background: hsl(0, 0%, 11%);
  color: hsla(0, 0%, 99%, 0.8);
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  letter-spacing: 0.4px;
}

.modal-close {
  background: hsl(0, 0%, 11%);
  color: hsla(0, 0%, 99%, 0.8);
  position: absolute;
  top: 30px;
  right: 35px;

  :hover {
    cursor: pointer;
  }
}
