/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

.navbar {
    background: black;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    height: 185px;
    padding-bottom: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom: 1px solid hsla(0, 0%, 90%, 0.75);
}

.header {
    /* position: absolute; */
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    font-size: 31px;
    justify-self: center;
}

:active, :visited {
    color: white;
}

.navbar-items {
    // color: hsla(0, 0%, 90%, 0.75);
    display: flex;
    grid-column: 2;
    grid-row: 2;
    width: 30%;
    justify-self: flex-end;
    justify-content: space-between;
    align-self: flex-end;
}    

.dropdown-items {
    background: black;
    // color: hsla(0, 0%, 90%, 0.50);
    border-top: 1px solid hsla(0, 0%, 90%, 0.75);
    position: absolute;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    height: 80px;
    font-size: 14px;
    a {
        color: hsla(0, 0%, 95%, 0.90);
    }
    a:hover {
        color: hsla(0, 0%, 80%, 0.80);
    }
}